[Desktop Entry]
Encoding=UTF-8
Name=testcoin
Comment=testcoin P2P Cryptocurrency
Comment[fr]=testcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=testcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/testcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/testcoin;
Categories=Office;
